@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem ao Pokedex!!</h1>
    <p>Emanuel Lindão</p>
</div>

<div class="text-start p-1">
    <h2>Místicos</h1>
        <div class="card mb-3">
            <img src="https://wallpaperset.com/w/full/a/e/f/50086.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mewtwo</h5>
                <p class="card-text">Ele foi criado geneticamente em um laboratório, sendo um clone do misterioso antigo
                    Pokémon Mew. Após destruir seus criadores, MewTwo foi levado pela malvada organização Team Rocket,
                    onde seus poderes continuaram a ser explorados, até que ele se revoltou e iniciou seu próprio
                    caminho para encontrar a si mesmo.</p>
                <p class="card-text"><small class="text-muted">Atualizado a 2 minutos</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mew</h5>
                <p class="card-text">Mew é um Pokémon lendário da categoria de nova espécie. Quando observado através de
                    um microscópio, é possível ver seus pelos curtos, finos e delicados. Ele não evolui para nenhum
                    outro Pokémon e possui a habilidade Synchronize. Suas fraquezas são contra os tipos Inseto, Fantasma
                    e Sombrio. Mew tem uma altura de 0,4 metros e pesa 4,0 quilogramas1.

                    Além disso, em Pokémon GO, há uma pesquisa especial chamada “Todos por um 151”, que permite aos
                    treinadores encontrar o Mew Shiny. Para acessar essa pesquisa, clique no ícone de binóculo na tela
                    inicial do jogo e siga as instruções.

                    Recentemente, durante o evento Pokémon Presents, foi anunciado que o Mewtwo fará parte das Tera
                    Raids. Além disso, o Mew obtido terá elementos aleatórios, tornando cada treinador capaz de obter
                    versões diferentes desse Pokémon lendário.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="https://th.bing.com/th/id/OIP.ENYFPck9VTPqXdjqDmx-2gHaEK?rs=1&pid=ImgDetMain"
                class="card-img-bottom" alt="...">
        </div>
</div>
